*{
    margin: 0;
    padding: 0;
    font-family: Georgia;
}
body{
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}
.container{
    background: url('../images/pic1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
}
.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
    width: 100%;
}
.ban{
    position: relative;
    margin-left: 70px;
    color: #F3EEEA;
}
.ban h1{
    position:static;
    font-size: 50px;
}
.ban h3{
    position: absolute;
    font-size: 70px;
    z-index: 1;
    
}
.ban h2{
    position: absolute;
    color: #B0A695;
    font-size: 120px;
    left: 100px;
    bottom: 150px;
    z-index: 0;
}
.ban h4{
    margin-top: 190px;
    font-size: 30px;    
}
.ban h5{
    color: #B0A695;
    font-size: 20px;
}
.con1{
    background-color: #776B5D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1400px;
}
.row1, .row2, .row3, .row4{
    display: flex;
    flex-direction: row;
}
.box{
    background-color: #EBE3D5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 4px solid rgb(134, 61, 9);
    cursor: pointer;
    height: 300px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.box img{
    margin-top: 20px;
    height: 180px;
}
.box h3{
    margin-top: auto;
    height: 30px;
}
.box h4{
    margin-bottom: 20px;
}
.box:hover{
    background-color: #B0A695;
    transition: 0.3s;
    cursor: pointer;
    color: #557C55;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    background-color: gainsboro;
    height: 50px;
}